{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock title %}

{% block content %}
<div class="container-fluid my-4 bg-tertiary p-5">
  <div class="row offset-1">
    <div class="col-10">
  <h1>Contact Us </h1>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email e.g 123@email.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your query here..."></textarea>
    <button class="btn btn-dark mt-2 w-100"> Contact</button>
  </div>
  </div>
</div>
</div>
</div>

{% endblock content %}




